@font-face {
  font-family: 'Smiles';
  src: url('/static/fonts/Smiles.eot?20140924');
  src: url('/static/fonts/Smiles.eot?20140924#iefix') format('embedded-opentype'),
       url('/static/fonts/Smiles.woff?20140924') format('woff'),
       url('/static/fonts/Smiles.ttf?20140924') format('truetype'),
       url('/static/fonts/Smiles.svg?20140924#Smiles') format('svg');
  font-weight: normal;
  font-style: normal;
}
