	<!--[if IE]>
	<script type="text/javascript" event="FSCommand(command,args)" for="audioPlayer">
	eval(args);
	</script>
	<![endif]-->
	<object id="audioPlayer" type="application/x-shockwave-flash" data="/static/audio/player_mp3_js.swf" width="1" height="1">
		<param name="movie" value="/static/audio/player_mp3_js.swf" />
		<param name="AllowScriptAccess" value="always" />
		<param name="FlashVars" value="listener=myPlayer&amp;interval=500" />
	</object>	

	<script src="/static/js/audioplayer.js?v=201406102355"></script>
